@model IEnumerable<El_Gran_PetCare.Models.AppointmentModels>


<h2>El Gran Pet Care</h2>
    <p>
        @Html.ActionLink("New Appointment", "CreateAppointment")
        @Html.ActionLink("New Owner", "CreateOwner")
        @Html.ActionLink("New Pet", "CreatePet")
    </p>
    <h3>Appointments</h3>
    <table>
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Owner ID</th>
                <th>Pet ID</th>
                <th>Vet ID</th>
                <th>Date</th>
                <th>Reason</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model)
            {
                <tr>
                    <td>@appointment.appointmentID</td>
                    <td>@appointment.ownerID</td>
                    <td>@appointment.petID</td>
                    <td>@appointment.vetID</td>
                    <td>@appointment.appointmentDate</td>
                    <td>@appointment.appointmentReason</td>
                    <td>@appointment.appointmentNote</td>

                    <td>
                        <a href="@Url.Action("Edit", "Home", new {@id=@appointment.appointmentID })">Edit</a>
                        <a href="@Url.Action("Delete", "Home", new {@id=@appointment.appointmentID })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

