@model El_Gran_PetCare.Models.AppointmentModels

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="form-container p-5 bg-light rounded shadow">
            <h2 class="text-center mb-4" style="color: #00627D; font-family: Tahoma, sans-serif;">Update Appointment</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

            <div class="row mb-3">
                @Html.LabelFor(model => model.appointmentID, "Appointment ID", htmlAttributes: new { @class = "col-sm-4 col-form-label", @style = "color: #00627D; font-family: Verdana, sans-serif;" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.appointmentID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.appointmentID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                @Html.LabelFor(model => model.appointmentDate, "Update Appointment Date", htmlAttributes: new { @class = "col-sm-4 col-form-label", @style = "color: #00627D; font-family: Verdana, sans-serif;" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.appointmentDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.appointmentDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                @Html.LabelFor(model => model.appointmentReason, "Reasonfor Appointment", htmlAttributes: new { @class = "col-sm-4 col-form-label", @style = "color: #00627D; font-family: Verdana, sans-serif;" })
                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.appointmentReason, new { @class = "form-control", rows = 3 })
                    @Html.ValidationMessageFor(model => model.appointmentReason, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                @Html.LabelFor(model => model.appointmentNote, "Other Notes", htmlAttributes: new { @class = "col-sm-4 col-form-label", @style = "color: #00627D; font-family: Verdana, sans-serif;" })
                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.appointmentNote, new { @class = "form-control", rows = 3 })
                    @Html.ValidationMessageFor(model => model.appointmentNote, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                @Html.LabelFor(model => model.ownerID, "Owner ID", htmlAttributes: new { @class = "col-sm-4 col-form-label", @style = "color: #00627D; font-family: Verdana, sans-serif;" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ownerID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ownerID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                @Html.LabelFor(model => model.petID, "Pet ID", htmlAttributes: new { @class = "col-sm-4 col-form-label", @style = "color: #00627D; font-family: Verdana, sans-serif;" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.petID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.petID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                @Html.LabelFor(model => model.vetID, "Vet ID", htmlAttributes: new { @class = "col-sm-4 col-form-label", @style = "color: #00627D; font-family: Verdana, sans-serif;" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.vetID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vetID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-8 offset-sm-4">
                    <input type="submit" value="Save" class="btn btn-primary" style="background-color: #11BCC3; border-color: #11BCC3;" />
                </div>
            </div>
        </div>
    </div>
}

<div class="mt-4 d-flex justify-content-center">
    @Html.ActionLink("Back to List", "AppointmentIndex", null, new { @class = "btn btn-secondary", @style = "background-color: #00627D; color: #d3d3d3;" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
