@model IEnumerable<El_Gran_PetCare.Models.VetClass>

<style>
    body {
        font-family: Verdana, sans-serif;
    }

    h2, h3 {
        font-family: Tahoma, sans-serif;
        color: #00627D;
    }

    .btn-primary {
        background-color: #11BCC3;
        border-color: #11BCC3;
    }

    .btn-primary:hover {
        background-color: #00627D;
        border-color: #00627D;
        color: #fff;
    }

    .thead-dark {
        background-color: #00627D;
        color: #d3d3d3;
    }

    .table td {
        color: black
    }

    .table th {
        color: #d3d3d3;
    }

</style>

<div class="container">
    <h2 class="my-4">El Gran Pet Care</h2>
    <h3>Vet</h3>
    <p>
        @Html.ActionLink("New Vet", "CreateVet", null, new { @class = "btn btn-primary mb-3" })
    </p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Vet ID</th>
                    <th>Vet Name</th>
                    <th>Specialisation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vet in Model)
                {
                    <tr>
                        <td>@vet.vetID</td>
                        <td>@vet.vetName</td>
                        <td>@vet.vetSpecialisation</td>
                        <td>
                            <a href="@Url.Action("UpdateVet", "Home", new { @vetID = vet.vetID })" class="btn btn-primary btn-sm">Edit</a>
                            <a href="@Url.Action("DeleteVet", "Home", new { @vetID = vet.vetID })"
                               class="btn btn-danger btn-sm"
                               onclick="return confirm('Are you sure you want to delete this vet?');">Delete</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
